.loginForm{
    color: #3c3c3c;
}

/* .loginForm form{
    width: 50%;
    margin: 0 auto;
} */

.formLoginBtn{
    width: 40%;
    border-radius: 50px !important;
}

.textLogin{
    font-size: 15px;
}